@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/dodorounded-regular.ttf') format('ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #081521;
  overflow-x: hidden;

}

.hello {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 200;

  @media (max-width: 1300px) {
    gap: 50px;
  }

  @media (max-width: 1130px) {
    flex-direction: column;
  }

  @media (max-width: 450px) {
    gap: 20px;
  }
}

.bot-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 700px;
  justify-content: center;
}

.bot {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* background-color: #fff; */
  /* #021725; */
  border-radius: 20px;

  @media (max-width: 1300px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 540px) {
    width: 100px;
    height: 100px;

  }
}

.bot:hover {
  transform: scale(0.95);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;

  @media (max-width: 540px) {
    width: 400px !important;
  }

  @media (max-width: 440px) {
    width: 300px !important;
  }

}

.header-title {
  color: #deb992;
  /* color: #fefefe; */
  font-family: 'CustomFont', sans-serif;
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #869ba9;
}

.header-text {
  color: #869ba9;
  /* color: #fefefe; */
  font-family: 'CustomFont', sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

.bot-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.arrow-icon {
  /* color: #fefefe; */
  font-size: 30px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #869ba9;
}

.circle-group-1 {
  position: absolute;
  top: -40%;
  right: 10%;
  pointer-events: none;
}

.circle-group-2 {
  position: absolute;
  top: 40%;
  left: -10%;
  pointer-events: none;
}

.circle-group-3 {
  z-index: 0;
  position: absolute;
  top: 0%;
  left: 60%;
  pointer-events: none;

  @media (max-width: 1130px) {
    top: 20%;
    left: 20%;
  }
}

.circle-1 {
  position: absolute;
  top: 150px;
  margin-left: -180px;
  width: 627px;
  height: 627px;
  border: 1px solid #deb992;
  border-radius: 98%;
  transform-origin: 40% 50% 0;
  animation: spin 15s linear 0s infinite reverse;
}

.circle-2 {
  position: absolute;
  top: 340px;
  margin-right: 130px;
  width: 440px;
  height: 440px;
  border: 1px solid #deb992;
  border-radius: 98%;
  transform-origin: 30% 40% 0;
  animation: spin 15s linear 0s infinite;
}

.circle-3 {
  position: absolute;
  top: 250px;
  margin-left: 50px;
  width: 627px;
  height: 627px;
  border: 1px solid #deb992;
  border-radius: 98%;
  transform-origin: 65% 60% 0;
  animation: spin 15s linear 0s infinite;
}

.circle-4 {
  position: absolute;
  top: 300px;
  margin-left: 121px;
  width: 188px;
  height: 188px;
  border: 1px solid #deb992;
  border-radius: 98%;
  transform-origin: 75% 50% 0;
  animation: spin 15s linear 0s infinite reverse;
}

.circle-5 {
  position: absolute;
  top: 250px;
  width: 406px;
  height: 406px;
  border: 1px solid #deb992;
  border-radius: 98%;
  transform-origin: 75% 50% 0;
  animation: spin 15s linear 0s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bot-1 {
  background-color: #001F33;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #deb992;

  @media (max-width: 1300px) {
    gap: 10px;
  }

  @media (max-width: 1130px) {
    flex-direction: column;
    height: 1200px !important;
    gap: 0px;
  }

  @media (max-width: 440px) {
    height: 1300px !important;
  }
}

.bot-title {
  /* color: #fefefe; */
  color: #deb992;
  font-family: 'CustomFont', sans-serif;
  font-size: 30px;
}

.bot-title-about {
  color: #deb992;
  font-family: 'CustomFont', sans-serif;
  font-size: 26px;
}

.swiper-pagination-bullet {
  background-color: #deb992 !important;
}

.bot-btn {
  margin-top: 30px;
  border: none;
  border: 1px solid#deb992;
  padding: 15px;
  border-radius: 15px;
  background-color: #001F33;
  color: #deb992;
  font-family: 'CustomFont', sans-serif;
  font-size: 16px;
  width: 100%;
  cursor: pointer;

  transition: transform 0.2s ease;
}

.bot-btn:active {
  transform: scale(0.95, 0.95);
}

.bot-text {
  color: #869ba9;
  font-family: 'CustomFont', sans-serif;
  font-size: 18px;
  width: 600px;

  @media (max-width: 1130px) {
    width: 500px;
  }

  @media (max-width: 540px) {
    width: 400px;
  }

  @media (max-width: 440px) {
    width: 300px !important;
  }
}

.img {
  height: 800px;
  border-radius: 20px;

  @media (max-height: 850px) {
    height: 700px;
  }

  @media (max-width: 440px) {
    height: 750px;
  }
}


.slider__wrapper {
  width: 370px !important;
  margin: 0px !important;

  @media (max-height: 850px) {
    width: 324px !important;
  }
}

.slide {
  @media (max-width: 440px) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.thumbnail {
  width: 100%;
}

.sliders {
  display: flex;
  gap: 20px;

  @media (max-height: 850px) {
    gap: 10px;
  }
}

.image-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  align-items: center;
  justify-content: center;

  @media (max-width: 850px) {
    gap: 5px;
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.pre-img {
  width: 55px;
  cursor: pointer;
  border-radius: 8px;

  transition: all 0.2s ease;

  @media (max-height: 850px) {
    width: 45px;
  }
}

.pre-img:active {
  transform: scale(0.95, 0.95);
}